button {
  font-family: inherit;
  cursor: pointer;
  outline: none;
  border: 0;
}

button.cta-btn {
  padding: 1.3em 3em;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

button.cta-btn:hover {
  color: var(--Eerie-Black);
  background-color: var(--Linen);
  box-shadow: 0px 15px 20px rgba(255, 239, 226, 0.4);
  transform: translateY(-7px);
}

button.cta-btn:active {
  transform: translateY(-1px);
}

//

button.select {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0.8rem 1.6rem;
  letter-spacing: 0.4px;
  border: 2px solid darken(#ffefe2, 0.33);
  border-radius: 8px;
  background-color: $Eerie-Black;
  color: $Linen;
  box-shadow: -4px -2px 16px 0px #fff, 4px 2px 16px 0px rgba(0, 0, 0, 0.48);
  transition: 0.2s;
}

button.select:hover,
.select.active {
  color: $Eerie-Black;
  background-color: $Ghost-White;
  border-color: $Eerie-Black;
  box-shadow: -2px -1px 8px 0px #000, 2px 1px 8px 0px rgba(255, 255, 255, 0.48);
}

button.select:active {
  box-shadow: none;
}

////////////////// * load more */////////////////
button.load-more {
  align-items: center;
  background-image: linear-gradient(144deg, #ffefe2, #e8e8e8, #1c1c21);
  border-radius: 8px;
  box-shadow: rgba(255, 239, 226, 0.877) 0 15px 30px -5px;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  transition: all 0.3s;
  margin-top: 8rem;
}

button.load-more:active,
button.load-more:hover {
  outline: 0;
  color: black;
}

button.load-more span {
  background-color: #1c1c21;
  padding: 16px 24px;
  border-radius: 6px;
  color: white;
  width: 100%;
  height: 100%;
  box-shadow: inset 0px 0px 22px -7px rgb(0 0 0);
  transition: 0.3s;
}

button.load-more:hover span {
  background: none;
  color: black;
}

button.load-more:active {
  transform: scale(0.9);
}
