.about {
  h2 {
    font-size: 4rem;
    // font-weight: 300;
    margin-bottom: 1rem;
  }

  .top-loop {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .about-container {
    // flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;

    @include breakpoint(tabletDown) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  .about-me {
    border-right: 2px solid var(--Linen);
    padding: 0 2rem 0 0;
    height: calc(100vh - 9rem);

    @include breakpoint(tabletDown) {
      border: 0;
      border-bottom: 2px solid var(--Linen);
      padding: 0;
      margin-bottom: 5rem;
      padding: 0 0 5rem 0;
      height: initial;
    }

    p {
      font-size: 1.6rem;
      // width: 49rem;
      // max-width: 49rem;
      max-width: 328px;
    }
  }

  .skill-container {
    padding-left: 2rem;
  }

  .cv-btn {
    background-color: black;
    border-radius: 8px;
    color: var(--Linen);
    max-width: max-content;
    font-size: 1.3rem;
    margin-top: 3rem;

    a {
      display: block;
      padding: 1.5rem 3rem;
    }
  }

  .about-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    padding: 10rem 0;

    .card {
      border-radius: 25px;
      background: #f8f9fe;
      box-shadow: 20px 20px 60px #d3d4d8, -20px -20px 60px #ffffff;
      overflow: hidden;
      height: 25.4rem;

      .card-img img {
        height: 100px;
        width: 100%;
        object-fit: cover;
      }

      .card-info {
        text-align: center;
        padding: 0 1.8em;

        .text-title {
          padding: 2rem 0;
          text-transform: uppercase;
          font-weight: 600;
        }

        .text-body {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100%;
          gap: 10px;
          text-align: left;
          font-weight: 300;
          font-size: 12px;
        }
      }
    }
  }
}
.text-pop-up-top {
  animation: text-pop-up-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.skill-tree {
  display: flex;
  // justify-content: space-between;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  & .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    // flex: 1 1 90px;
    justify-content: flex-start;
    margin: 1.6rem;

    & p {
      margin-top: 0.8rem;
      font-weight: 300;
      font-size: 1.4rem;
    }

    & img {
      height: 9rem;

      @include breakpoint(tabletDown) {
        height: 7rem;
      }
    }
  }
}
