.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border-bottom: 1px solid $Linen;
  // box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  // border: 1px solid rgba( 255, 255, 255, 0.18 );
  transition: box-shadow 0.2s ease-in;

  &.scrolled {
    box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  padding: 0 2rem;
  margin: 0 auto;
  height: 5rem;

  .logo {
    color: $Ghost-White;
  }

  .navlinks {
    a {
      font-size: 1.45rem;
      color: $Platinum;
    }

    li:not(:last-child) {
      margin-right: 35px;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
